h1 {
	color:red;
	font-family: verdana;
	font-weight: bold;
}

h2 {
	color:grey;
	font-family: verdana;
	font-weight: bold;
}

h3 {
	color:grey;
	font-family: verdana;
	font-weight: bold;
}

.middle {
	width: 600px;
	height: 400px;
}

.Plaatje {
	width: 100px;
	height: 130px;
}

.museum {
	float: left;
	height: 150px;
	width: 150px;
	padding: 10px;
}